@media (max-width:768px) {
    body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/background-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

   img {
    width: 180px;
    height: auto;
   }

    header {
        display: flex;
        align-items: center;
        padding: 20px 4%;
        flex-direction: row;
    }

    ul {
        display: none;
        gap: 0.5rem;
        position: absolute;
        top: 100px;
        padding: 1rem;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #DBCD98;
        z-index: 0;

        &.show {
            display: flex;
        }
    }

    #close-tab-mobile {
        display: flex;
        border: none;
        background-color: transparent;
    }

   #main-starbucks {
    margin: 30px;
    width: 55%;
    height: auto;
}

    main {
        p {
        width: 90%;
        text-align: center;
    }

    .main {
        text-align: center;
    }

    h1 {
        align-self: center;
    }
}


    

    .trending-cards  {
        justify-content: center

    }

    .about-us {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

       .about-us-block {
        display: flex;
        flex-direction: column;

        img {
            width: 400px;
        }
    }
 
    }

    .products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

   
    .products-container {
        flex-direction: column;
    }

    .product {
        width: 200px;

        img {
            position: relative;
            top: -40px;
        }
    }

    


}