@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(400vh-112px);
}

header {
    display: flex;
    background-color: #DBCD98;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 20px 4%;
    z-index: 1;
}

img {
    width: clamp(300px, 50%, 400px);

}

ul {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    color: #A9F53E;
    border-bottom: solid 2px #A9F53E;
}

#close-tab-mobile {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-starbucks {
    margin: 30px;
    width: 400px;
    height: auto;
}

#experiencia {
    color: #508A71;
}

main h1 {
    line-height: 1.2;
}

main p {
    max-width: 75%;
    margin: 10px;
    font-weight: bold;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#conhecer-btn {
    font-size: 1rem;
    border: none;
    padding: 20px 50px;
    font-weight: bold;
    background-color: #508A71;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #29503f;
    }
}

#contatar-btn {
    font-size: 1rem;
    padding: 15px 50px;
    font-weight: bold;
    background-color: transparent;
    border: solid 2px #508A71;
    border-radius: 15px;
    color: #508A71;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #508A71;
    }
}



.trending {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: center;
    justify-content: center;
}

.trending-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;

    h3 {
        position: relative;
        top: -30px;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.rate {
    position: relative;
    top: -90px;
    right: -90px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 20px;
    
    i {
        color: rgb(255, 255, 0);
    }
}

.about-us {
    margin: 4%;
    height: calc(100vh - 96px);
    border-radius: 20px;
    padding: 24px 4%;
    background-color: #247954;
    background-image: url(images/about/bg-about.png);
    background-position: start;
    display: flex;

    .about-us-block {
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;


        .about-info {
            padding: 24px;
            background-color: #0e6841;
            border-radius: 20px;
            

            h1 {
                margin-bottom: 20px;
            }

            h4 {
                font-weight: 400;
            }

            .about-span {
                color: #ffea00;
            }
        }

        img {
            height: 400px;
            object-fit: cover;
            margin: 10px;
        }
    }

    .about-us-block img {
        order: 2;
    }

    .about-info:first-child {
        order: 1;
    }

    .about-info:last-child {
        order: 3;
    }
}

