@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    background-color: #DBCD98;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 20px 4%;
    z-index: 1;
}

img {
    height: 100px;
}

ul {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: all 0.3s ease;
}

a:hover {
    color: #A9F53E;
    border-bottom: solid 2px #A9F53E;
}

#close-tab-mobile {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-starbucks {
    margin: 30px;
    width: 25%;
    height: auto;
}

#experiencia {
    color: #A9F53E;
}

main p {
    max-width: 75%;
    margin: 10px;
    font-weight: bold;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#conhecer-btn {
    border: none;
    padding: 20px;
    font-weight: bold;
    background-color: #A9F53E;
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #49A120;
    }
}

#contatar-btn {
    padding: 15px;
    font-weight: bold;
    background-color: transparent;
    border: solid 5px #A9F53E;
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #A9F53E;
    }
}

